
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  /* background-color: #717962; */
  background-color: #717962;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    margin: ;
    color: whitesmoke;
  }